.profile__about {
  margin: 0;
  padding-left: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 75%;
}

@media screen and (max-width: 915px) {
  .profile__about {
    font-size: 14px;
    line-height: 16.94px;
  }
}

@media screen and (max-width: 660px) {
  .profile__about {
    margin: 0 auto;
    padding: 0;
  }
}
