.popup__container {
  flex-direction: column;
  position: relative;
  max-width: 430px;
  width: 100%;
  padding-bottom: 36px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 425px) {
  .popup__container {
    max-width: 282px;
  }
}
