.login__submit-button {
    width: 100%;
    margin: 218px 0 0;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 14px;
    border-radius: 2px;
    font-size: 18px;
    line-height: 1;
    color: #000000;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
  }
  
.login__submit-button:hover {
    opacity: .85;
}